<bibtex src="choener.bib"></bibtex>

<div id="bibtex_display">
  <div class="bibtex_template" style="display: none;">
    <ul> <li>
      <span class="if title">
        <a class="bibtexVar" href="http://www.website.com/~demo/papers/+BIBTEXKEY+.pdf" extra="BIBTEXKEY">
            <span style="text-decoration: underline;" class="title"></span>,
        </a>
      </span>
      <div class="if author">
        <span class="author"></span>
      </div>
      <div>
        <span class="if journal"><em><span class="journal"></span></em>,</span>
        <span class="if publisher"><em><span class="publisher"></span></em>,</span>
        <span class="if booktitle">In <em><span class="booktitle"></span></em>,</span>
        <span class="if address"><span class="address"></span>,</span>
        <span class="if month"><span class="month"></span>,</span>
        <span class="if year"><span class="year"></span>.</span>
        <span class="if note"><span class="note"></span></span>
        <a class="bibtexVar" role="button" data-toggle="collapse"
	   href="#bib+BIBTEXKEY+" aria-expanded="false"
	   aria-controls="bib+BIBTEXKEY+" extra="BIBTEXKEY" bibtexjs-css-escape>
		  [bib]
		</a>
      </div>
      <div class="bibtexVar collapse" id="bib+BIBTEXKEY+" extra="BIBTEXKEY">
		  <div class="well">
		    <pre><span class="bibtexraw noread"></span></pre>
		  </div>
	  </div>
	  <div style="display:none"><span class="bibtextype"></span></div>
    </li></ul>
  </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js@1.0.0/src/bibtex_js.min.js"></script>

