<h1 id="publications">
Publications
</h1>
<p>
(<strong>web-oa</strong>: open access article; <strong>web-acm</strong>: no charge via acm authorizer; <strong>preprint</strong>: locally hosted preprint; <strong>postprint</strong>: locally hosted postprint; <strong>supplement</strong>: supplemental material, mostly locally hosted; <strong>arxiv</strong>: preprint on arxiv)
</p>
<h3 id="section">
2020
</h3>
<ol type="1">
<li>
<span class="citation" data-cites="GAE:KUE:superbubbles"><span class="citation" data-cites="GAE:KUE:superbubbles">Fabian Gärtner, Felix Kühnl, Carsten R Seemann, The Students of the Graphs and Networks Computer Lab 2018/19, Christian Höner zu Siederdissen, and Peter F Stadler. <strong>Superbubbles as an Empirical Characteristic of Directed Networks</strong>. 2020. <em>submitted</em>. </span></span> <br />
</li>
</ol>
<h3 id="section-1">
2019
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="NOW:WAL:2019"><span class="citation" data-cites="NOW:WAL:2019">Katja Nowick, Maria Beatriz Walter Costa, Christian Höner zu Siederdissen, and Peter F Stadler. <strong>Selection Pressures on RNA Sequences and Structures</strong>. 2019. <em>Evolutionary Bioinformatics</em>. 15. </span></span> <br />
</p>
</li>
<li>
<p>
<span class="citation" data-cites="EGG:HOE:2019"><span class="citation" data-cites="EGG:HOE:2019">Florian Eggenhofer, and Christian Höner zu Siederdissen. <strong>Evolutionary Structure Conservation and Covariance Scores</strong>. 2019. In <em>Submitted</em>. </span></span> <br />
</p>
</li>
<li>
<p>
<span class="citation" data-cites="LUD:HOE:2019"><span class="citation" data-cites="LUD:HOE:2019">Joachim Ludwig, Christian Höner zu Siederdissen, Zishu Liu, Peter F Stadler, and Susann Müller. <strong>Automated Gating Procedure for Microbial Community Systems</strong>. 2019. <em>BMC Bioinformatics</em>. 20. doi:<a href="https://doi.org/10.1186/s12859-019-3152-3" role="doc-biblioref">10.1186/s12859-019-3152-3</a>. </span></span> <br /> <a href="pdfs/lud-hoe-2019.pdf">preprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="WAL:HOE:2019"><span class="citation" data-cites="WAL:HOE:2019">Maria Beatriz Walter Costa, Christian Höner zu Siederdissen, Peter F. Stadler, and Katja Nowick. <strong>SSS-Test: A Novel Test for Detecting Selection on the Secondary Structures of Non-Coding RNAs</strong>. 2019. <em>BMC Bioinformatics</em>. 20. doi:<a href="https://doi.org/10.1186/s12859-019-2711-y" role="doc-biblioref">10.1186/s12859-019-2711-y</a>. </span></span> <br /> <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-019-2711-y">web-oa</a> <a href="pdfs/wal-hoe-2017b.pdf">postprint</a>
</p>
</li>
</ol>
<h3 id="section-2">
2018
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="BER:HOE:2018"><span class="citation" data-cites="BER:HOE:2018">Sarah Berkemer, Christian Höner zu Siederdissen, and Peter F. Stadler. <strong>Alignments as Compositional Structures</strong>. 2018. <em>submitted</em>. </span></span> <br /> <a href="pdfs/ber-hoe-2018.pdf">preprint</a> <a href="https://arxiv.org/abs/1810.07800">arxiv</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="GAE:HOE:2018"><span class="citation" data-cites="GAE:HOE:2018">Fabian Gärtner, Christian Höner zu Siederdissen, Lydia Müller, and Peter F Stadler. <strong>Coordinate Systems for Supergenomes</strong>. 2018. <em>Algorithms for Molecular Biology</em>. 13. doi:<a href="https://doi.org/10.1186/s13015-018-0133-4" role="doc-biblioref">10.1186/s13015-018-0133-4</a>. </span></span> <br /> <a href="https://almob.biomedcentral.com/articles/10.1186/s13015-018-0133-4">web-oa</a> <a href="pdfs/gae-hoe-2018.pdf">postprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="EGG:HOF:2018"><span class="citation" data-cites="EGG:HOF:2018">Florian Eggenhofer, Ivo L. Hofacker, Rolf Backofen, and Christian Höner zu Siederdissen. <strong>CMV: Visualisation for RNA and Protein Family Models and Their Comparisons</strong>. 2018. <em>Bioinformatics</em>. 34, no. 15. doi:<a href="https://doi.org/10.1093/bioinformatics/bty158" role="doc-biblioref">10.1093/bioinformatics/bty158</a>. </span></span> <br /> <a href="https://doi.org/10.1093/bioinformatics/bty158">web-oa</a> <a href="pdfs/egg-hof-2018.pdf">postprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="WAL:HOE:2018"><span class="citation" data-cites="WAL:HOE:2018">Maria Beatriz Walter Costa, Christian Höner zu Siederdissen, Dan Tulpan, Peter F. Stadler, and Katja Nowick. <strong>Temporal Ordering of Substitutions in RNA Evolution: Uncovering the Structural Evolution of the Human Accelerated Region 1</strong>. 2018. <em>Journal of Theoretical Biology</em>. 438.: 143–50. </span></span> <br /> <a href="pdfs/wal-hoe-2018a.pdf">preprint</a> <a href="https://www.sciencedirect.com/science/article/pii/S0022519317305222">web-oa</a>
</p>
</li>
</ol>
<h3 id="section-3">
2017
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="BER:HOE:2017"><span class="citation" data-cites="BER:HOE:2017">Sarah Berkemer, Christian Höner zu Siederdissen, and Peter F. Stadler. <strong>Algebraic Dynamic Programming on Trees</strong>. 2017. <em>Algorithms</em>. 10, no. 4. doi:<a href="https://doi.org/10.3390/a10040135" role="doc-biblioref">10.3390/a10040135</a>. </span></span> <br /> <a href="pdfs/ber-hoe-2017.pdf">preprint</a> <a href="https://doi.org/10.3390/a10040135">web-oa</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="PRO:BER:2017"><span class="citation" data-cites="PRO:BER:2017">Sonja J. Prohaska, Sarah Berkemer, Fabian Externbrink, Thomas Gatter, Nancy Retzlaff, The Students of the Graphs and Biological Networks Lab 2017, Christian Höner zu Siederdissen, and Peter F. Stadler. <strong>Expansion of Gene Clusters and the Shortest Hamiltonian Path Problem</strong>. 2017. <em>Journal of Mathematical Biology</em>. doi:<a href="https://doi.org/10.1007/s00285-017-1197-3" role="doc-biblioref">10.1007/s00285-017-1197-3</a>. </span></span> <br /> <a href="pdfs/pro-ber-2017.pdf">preprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="ALA:BER:2017"><span class="citation" data-cites="ALA:BER:2017">Marwa Al Arab, Matthias Bernt, Christian Höner zu Siederdissen, Kifah Tout, and Peter F. Stadler. <strong>Partially Local Three-Way Alignments and the Sequence Signatures of Mitochondrial Genome Rearrangements</strong>. 2017. <em>Algorithms in Molecular Biology</em>. 12, no. 1.: 22. </span></span> <br /> <a href="pdfs/ala-ber-2017.pdf">preprint</a> <a href="https://almob.biomedcentral.com/articles/10.1186/s13015-017-0113-0">web-oa</a>
</p>
</li>
</ol>
<h3 id="section-4">
2016
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="ALA:HOE:2016"><span class="citation" data-cites="ALA:HOE:2016">Marwa Al Arab, Christian Höner zu Siederdissen, Kifah Tout, Abdullah H. Sahyoun, Peter F. Stadler, and Matthias Bernt. <strong>Accurate Annotation of Protein-Coding Genes in Mitochondrial Genomes</strong>. 2017. <em>Molecular Phylogenetics and Evolution</em>. 106.: 209–16. </span></span> <br /> <a href="pdfs/ala-hoe-2016.pdf">preprint</a> <a href="http://www.sciencedirect.com/science/article/pii/S1055790316302597">web</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="BER:STA:2016"><span class="citation" data-cites="BER:STA:2016">Sarah Berkemer, Peter F. Stadler, and Christian Höner zu Siederdissen. <strong>General Reforestation: Parsing Trees and Forests</strong>. 2016. <em>submitted</em>. </span></span> <br /> <a href="pdfs/ber-sta-2016.pdf">preprint</a> (only for archival purposes, see <span class="citation" data-cites="BER:HOE:2017"><span class="citation" data-cites="BER:HOE:2017">Sarah Berkemer, Christian Höner zu Siederdissen, and Peter F. Stadler <strong>Algebraic Dynamic Programming on Trees</strong>. 2017. <em>Algorithms</em>. 10, no. 4. doi:<a href="https://doi.org/10.3390/a10040135" role="doc-biblioref">10.3390/a10040135</a>. </span></span> for a new version)
</p>
</li>
<li>
<p>
<span class="citation" data-cites="EGG:HOF:2016"><span class="citation" data-cites="EGG:HOF:2016">Florian Eggenhofer, Ivo L. Hofacker, and Christian Höner zu Siederdissen. <strong>RNAlien - Unsupervised RNA Family Model Construction</strong>. 2016. <em>Nucleic Acids Research</em>. 44, no. 17.: 8433–41. </span></span> <br /> <a href="https://nar.oxfordjournals.org/content/early/2016/06/21/nar.gkw558">web-oa</a> <a href="pdfs/egg-hof-2016.pdf">postprint</a> <a href="pdfs/egg-hof-2016-supp.pdf">supplement</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="RIE:HOE:2016"><span class="citation" data-cites="RIE:HOE:2016">Maik Riechert, Christian Höner zu Siederdissen, and Peter F Stadler. <strong>Algebraic Dynamic Programming for Multiple Context-Free Languages</strong>. 2016. <em>Theoretical Computer Science</em>. 639.: 91–109. </span></span> <br /> <a href="pdfs/rie-hoe-2016.pdf">preprint</a> <a href="http://www.sciencedirect.com/science/article/pii/S0304397516301797">web</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="DUE:FRI:2016"><span class="citation" data-cites="DUE:FRI:2016">Gesche K. Gerresheim, Nadja Dünnes, Annika Nieder-Röhrmann, Lyudmila A. Shalamova, Markus Fricke, Ivo L. Hofacker, Christian Höner zu Siederdissen, Manja Marz, and Michael Niepmann. <strong>MicroRNA-122 Target Sites in the Hepatitis C Virus RNA NS5B Coding Region and 3’ Untranslated Region: Function in Replication and Influence of RNA Secondary Structure</strong>. 2016. <em>Cellular and Molecular Life Sciences</em>. </span></span> <br />
</p>
</li>
</ol>
<h3 id="section-5">
2015
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="BER:HOE:2015"><span class="citation" data-cites="BER:HOE:2015">Sarah Berkemer, Christian Höner zu Siederdissen, Fabian Amman, Axel Wintsche, Sebastian Will, Ivo L. Hofacker, Sonja J. Prohaska, and Peter F. Stadler. <strong>Processed Small RNAs in Archaea and BHB Elements</strong>. 2015. <em>Genomics and Computational Biology</em>. 1, no. 1. doi:<a href="https://doi.org/10.18547/gcb.2015.vol1.iss1.e18" role="doc-biblioref">10.18547/gcb.2015.vol1.iss1.e18</a>. </span></span> <br /> <a href="pdfs/ber-hoe-2015.pdf">preprint</a> <br /> <a href="pdfs/ber-hoe-2015-supp.pdf">supplement</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:PRO:2015"><span class="citation" data-cites="HOE:PRO:2015">Christian Höner zu Siederdissen, Sonja J. Prohaska, and Peter F. Stadler. <strong>Algebraic Dynamic Programming over General Data Structures</strong>. 2015. <em>BMC Bioinformatics</em>. 16. doi:<a href="https://doi.org/10.1186/1471-2105-16-S19-S2" role="doc-biblioref">10.1186/1471-2105-16-S19-S2</a>. </span></span> <br /> <a href="pdfs/hoe-pro-2015.pdf">preprint</a> <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-16-S19-S2">web-oa</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="SAH:HOE:2015"><span class="citation" data-cites="SAH:HOE:2015">Abdullah H. Sahyoun, Martin Hölzer, Frank Jühling, Christian Höner zu Siederdissen, Marwa Al-Arab, Manja Marz, Martin Middendorf, Peter F. Stadler, Kifah Tout, and Matthias Bernt. <strong>Towards a Comprehensive Picture of Alloacceptor tRNA Remolding in Metazoan Mitochondrial Genomes</strong>. 2015. <em>Nucleic Acids Research</em>. doi:<a href="https://doi.org/10.1093/nar/gkv746" role="doc-biblioref">10.1093/nar/gkv746</a>. </span></span> <br /> <a href="http://nar.oxfordjournals.org/content/early/2015/07/30/nar.gkv746.full">web-oa</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="KER:HOE:2015"><span class="citation" data-cites="KER:HOE:2015">Peter Kerpedjiev, Christian Höner zu Siederdissen, and Ivo L. Hofacker. <strong>Predicting 3D RNA Structure Using a Coarse-Grain Helix-Centered Model</strong>. 2015. <em>RNA</em>. 21.: 1110–21. doi:<a href="https://doi.org/10.1261/rna.047522.114" role="doc-biblioref">10.1261/rna.047522.114</a>. </span></span> <br /> <a href="http://rnajournal.cshlp.org/content/21/6/1110.abstract">web-oa</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="THE:ZIR:2015"><span class="citation" data-cites="THE:ZIR:2015">Corinna Theis, Craig Zirbel, Christian Höner zu Siederdissen, Christian Anthon, Ivo L Hofacker, Henrik Nielsen, and Jan Gorodkin. <strong>The Use of RNA 3D Modules Can Enhance Genome-Wide Predictions of RNA 2D Structure</strong>. 2015. <em>PLOS One</em>. 10.: e0139900. doi:<a href="https://doi.org/10.1371/journal.pone.0139900" role="doc-biblioref">10.1371/journal.pone.0139900</a>. </span></span> <br /> <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0139900">web-oa</a>
</p>
</li>
</ol>
<h3 id="section-6">
2014
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="HOE:PRO:2014"><span class="citation" data-cites="HOE:PRO:2014">Christian Höner zu Siederdissen, Sonja J. Prohaska, and Peter F. Stadler. <strong>Dynamic Programming for Set Data Types</strong>. 2014. <em>Brazilian sympositum on bioinformatics (BSB 2014)</em>. Springer, Heidelberg. doi:<a href="https://doi.org/10.1007/978-3-319-12418-6_8" role="doc-biblioref">10.1007/978-3-319-12418-6_8</a>. </span></span> <br /> <a href="pdfs/hoe-pro-2014.pdf">preprint</a> <br /> <a href="setgram">supplement</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:BER:2014"><span class="citation" data-cites="HOE:BER:2014">Christian Höner zu Siederdissen, Sarah Berkemer, Fabian Amman, Axel Wintsche, Sebastian Will, Sonja J. Prohaska, and Peter F. Stadler. <strong>Comparative Detection of Processed Small RNAs in Archaea</strong>. 2014. <em>IWBBIO 2014</em>. </span></span> <br /> <a href="pdfs/hoe-ber-2014.pdf">preprint</a> <br /> <a href="pdfs/hoe-ber-2014-supp.pdf">supplement</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:HOF:2014"><span class="citation" data-cites="HOE:HOF:2014">Christian Höner zu Siederdissen, Ivo L. Hofacker, and Peter F. Stadler. <strong>Product Grammars for Alignment and Folding</strong>. 2014. <em>IEEE/ACM Transactions on Computational Biology and Bioinformatics</em>. 12, no. 3.: 507–19. doi:<a href="https://doi.org/10.1109/TCBB.2014.2326155" role="doc-biblioref">10.1109/TCBB.2014.2326155</a>. </span></span> <br /> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6819790">web-oa</a> <br /> <a href="http://www.bioinf.uni-leipzig.de/Software/gADP/">supplement + software</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="FAR:HOE:2014"><span class="citation" data-cites="FAR:HOE:2014">Andrew Farmer, Christian Höner zu Siederdissen, and Andy Gill. <strong>The HERMIT in the Stream: Fusing Stream Fusion’s ConcatMap</strong>. 2014. <em>Proceedings of the ACM SIGPLAN 2014 workshop on Partial evaluation and program manipulation</em>. ACM. doi:<a href="https://doi.org/10.1145/2543728.2543736" role="doc-biblioref">10.1145/2543728.2543736</a>. </span></span> <br /> <a href="http://dl.acm.org/authorize?N05306">web-acm</a> <br /> <a href="http://www.bioinf.uni-leipzig.de/Publications/PREPRINTS/14-002.pdf">preprint</a>
</p>
</li>
</ol>
<h3 id="section-7">
2013
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="HOE:HOF:2013"><span class="citation" data-cites="HOE:HOF:2013">Christian Höner zu Siederdissen, Ivo L. Hofacker, and Peter F. Stadler. <strong>How to Multiply Dynamic Programming Algorithms</strong>. 2013. <em>Brazilian symposium on bioinformatics (BSB 2013)</em>. Springer, Heidelberg. doi:<a href="https://doi.org/10.1007/978-3-319-02624-4_8" role="doc-biblioref">10.1007/978-3-319-02624-4_8</a>. </span></span> <br /> <a href="pdfs/hoe-hof-2013.pdf">preprint</a> <br /> <a href="http://www.bioinf.uni-leipzig.de/Software/gramprod/">supplement + software</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:2013b"><span class="citation" data-cites="HOE:2013b">Christian Höner zu Siederdissen. <strong><code>ADPfusion</code>: Efficient Dynamic Programming over Sequence Data</strong>. 2013a. <em>HaL8 workshop</em>. </span></span> <br /> <a href="pdfs/hoe-2013b.pdf">preprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:HAM:2013"><span class="citation" data-cites="HOE:HAM:2013">Christian Höner zu Siederdissen, Stefan Hammer, Ingrid Abfalter, Ivo L. Hofacker, Christoph Flamm, and Peter F. Stadler. <strong>Computational Design of RNAs with Complex Energy Landscapes</strong>. 2013. <em>Biopolymers</em>. 99, no. 12.: 1124–36. doi:<a href="https://doi.org/10.1002/bip.22337" role="doc-biblioref">10.1002/bip.22337</a>. </span></span> <br /> <a href="pdfs/hoe-ham-2013.pdf">preprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:2013"><span class="citation" data-cites="HOE:2013">Christian Höner zu Siederdissen. <strong>Grammatical Approaches to Problems in RNA Bioinformatics</strong>. 2013b. Dissertation (PhD thesis), University of Vienna, Vienna, Austria. </span></span> <br /> <a href="http://othes.univie.ac.at/28648/">Universität Wien</a> <br /> <a href="pdfs/hoe-2013-phd.pdf">PhD Thesis</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="THE:HOE:2013"><span class="citation" data-cites="THE:HOE:2013">Corinna Theis, Christian Höner zu Siederdissen, Ivo L. Hofacker, and Jan Gorodkin. <strong>Automated Identification of 3D Modules with Discriminative Power in RNA Structural Alignments</strong>. 2013. <em>Nucleic Acids Research</em>. 41, no. 22.: 9999–10009. doi:<a href="https://doi.org/10.1093/nar/gkt795" role="doc-biblioref">10.1093/nar/gkt795</a>. </span></span> <br /> <a href="http://doi.org/10.1093/nar/gkt795">web-oa</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="EGG:HOF:2013"><span class="citation" data-cites="EGG:HOF:2013">Florian Eggenhofer, Ivo L. Hofacker, and Christian Höner zu Siederdissen. <strong>CMCompare Webserver: Comparing RNA Families via Covariance Models</strong>. 2013. <em>Nucleic Acids Research</em>. 41, no. W1.: W499–W503. doi:<a href="https://doi.org/10.1093/nar/gkt329" role="doc-biblioref">10.1093/nar/gkt329</a>. </span></span> <br /> <a href="http://doi.org/10.1093/nar/gkt329">web-oa</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="LOR:BER:2013"><span class="citation" data-cites="LOR:BER:2013">Ronny Lorenz, Stephan H. Bernhart, Jing Qin, Christian Höner zu Siederdissen, Andrea Tanzer, Fabian Amman, Ivo L. Hofacker, and Peter F. Stadler. <strong>2D Meets 4G: G-Quadruplexes in RNA Secondary Structure Prediction</strong>. 2013. <em>IEEE/ACM Transactions on Computation Biology and Bioinformatics</em>. doi:<a href="https://doi.org/10.1109/TCBB.2013.7" role="doc-biblioref">10.1109/TCBB.2013.7</a>. </span></span> <br />
</p>
</li>
<li>
<p>
<span class="citation" data-cites="VIE:WEH:2013"><span class="citation" data-cites="VIE:WEH:2013">Joaquin Vierna, Stefanie Wehner, Christian Höner zu Siederdissen, Andrés Martínez-Lage, and Manja Marz. <strong>Systematic Analysis and Evolution of 5S Ribosomal DNA in Metazoans</strong>. 2013. <em>Heredity</em>. 111, no. 5.: 410–21. doi:<a href="https://doi.org/10.1038/hdy.2013.63" role="doc-biblioref">10.1038/hdy.2013.63</a>. </span></span> <br />
</p>
</li>
</ol>
<h3 id="section-8">
2012
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="HOE:2012"><span class="citation" data-cites="HOE:2012">Christian Höner zu Siederdissen. <strong>Sneaking Around ConcatMap: Efficient Combinators for Dynamic Programming</strong>. 2012. <em>Proceedings of the 17th ACM SIGPLAN international conference on Functional programming</em>. New York, NY, USA: ACM. doi:<a href="https://doi.org/10.1145/2364527.2364559" role="doc-biblioref">10.1145/2364527.2364559</a>. </span></span> <br /> <a href="http://www.tbi.univie.ac.at/newpapers/pdfs/TBI-p-2012-2.pdf">preprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="LOR:BER:2012"><span class="citation" data-cites="LOR:BER:2012">Ronny Lorenz, Stephan H. Bernhart, Fabian Externbrink, Jing Qin, Christian Höner zu Siederdissen, Fabian Amman, Ivo L. Hofacker, and Peter F. Stadler. <strong>RNA Folding Algorithms with G-Quadruplexes</strong>. 2012. Ed. by. M. C. P. De Souto and M. G. Kann. <em>Brazilian Symposium on Bioinformatics (BSB 2012)</em>. Springer, Heidelberg. doi:<a href="https://doi.org/10.1007/978-3-642-31927-3_5" role="doc-biblioref">10.1007/978-3-642-31927-3_5</a>. </span></span> <br /> <a href="http://www.tbi.univie.ac.at/~ronny/programs/vrna2g.html">software</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HEL:BER:2012"><span class="citation" data-cites="HEL:BER:2012">Conrad Helm, Stephan H. Bernhart, Christian Höner zu Siederdissen, Birgit Nickel, and Christoph Bleidorn. <strong>Deep sequencing of small RNAs confirms an annelid affinity of Myzostomida</strong>. 2012. <em>Molecular Phylogenetics and Evolution</em>. 64, no. 1.: 198–203. </span></span> <br /> <a href="http://www.sciencedirect.com/science/article/pii/S1055790312001224">web</a>
</p>
</li>
</ol>
<h3 id="section-9">
2011
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="LOR:BER:2011"><span class="citation" data-cites="LOR:BER:2011">Ronny Lorenz, Stephan H. Bernhart, Christian Höner zu Siederdissen, Hakim Tafer, Christoph Flamm, Peter F. Stadler, and Ivo L. Hofacker. <strong>ViennaRNA Package 2.0</strong>. 2011. <em>Algorithms for Molecular Biology</em>. 6, no. 26. doi:<a href="https://doi.org/10.1186/1748-7188-6-26" role="doc-biblioref">10.1186/1748-7188-6-26</a>. </span></span> <br />
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:BER:2011"><span class="citation" data-cites="HOE:BER:2011">Christian Höner zu Siederdissen, Stephan H. Bernhart, Peter F. Stadler, and Ivo L. Hofacker. <strong>A Folding Algorithm for Extended RNA Secondary Structures</strong>. 2011. <em>Bioinformatics</em>. 27, no. 13.: 129–36. doi:<a href="https://doi.org/10.1093/bioinformatics/btr220" role="doc-biblioref">10.1093/bioinformatics/btr220</a>. </span></span> <br />
</p>
</li>
<li>
<p>
<span class="citation" data-cites="MAR:GRU:2011"><span class="citation" data-cites="MAR:GRU:2011">Manja Marz, Andreas R. Gruber, Christian Höner zu Siederdissen, Fabian Amman, Stefan Badelt, Sebastian Bartschat, Stephan H. Bernhart, Wolfgang Beyer, Stefanie Kehr, Ronny Lorenz, Andrea Tanzer, Dilmurat Yusuf, Hakim Tafer, Ivo L. Hofacker, and Peter F. Stadler. <strong>Animal snoRNAs and scaRNAs with Exceptional Structures</strong>. 2011. <em>RNA Biology</em>. 8, no. 6.: 1–9. doi:<a href="https://doi.org/10.4161/rna.8.6.16603" role="doc-biblioref">10.4161/rna.8.6.16603</a>. </span></span> <br />
</p>
</li>
<li>
<p>
<span class="citation" data-cites="GIE:HOE:2011"><span class="citation" data-cites="GIE:HOE:2011">Robert Giegerich, and Christian Höner zu Siederdissen. <strong>Semantics and Ambiguity of Stochastic RNA Family Models</strong>. 2011. <em>IEEE/ACM Transactions on Computational Biology and Bioinformatics</em>. 8, no. 2.: 499–516. doi:<a href="https://doi.org/10.1109/TCBB.2010.12" role="doc-biblioref">10.1109/TCBB.2010.12</a>. </span></span> (accepted 2009) <br /> <a href="http://www.tbi.univie.ac.at/newpapers/pdfs/TBI-p-2009-3.pdf">preprint</a>
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HAK:JAK:2011"><span class="citation" data-cites="HAK:JAK:2011">Matthias Hackl, Tobias Jakobi, Jochen Blom, Daniel Doppmeier, Karina Brinkrolf, Rafael Szczepanowski, Stephan H. Bernhart, Christian Höner zu Siederdissen, Juan A. Hernandez Bort, Matthias Wieser, Renate Kunert, Simon Jeffs, Ivo L. Hofacker, Alexander Goesmann, Alfred Pühler, Nicole Borth, and Johannes Grillari. <strong>Next-generation sequencing of the Chinese hamster ovary microRNA transcriptome: identification, annotation and profiling of microRNAs as targets for cellular engineering</strong>. 2011. <em>Journal of Biotechnology</em>. 153.: 62–75. doi:<a href="https://doi.org/10.1016/j.jbiotec.2011.02.011" role="doc-biblioref">10.1016/j.jbiotec.2011.02.011</a>. </span></span> <br />
</p>
</li>
</ol>
<h3 id="section-10">
2010
</h3>
<ol type="1">
<li>
<span class="citation" data-cites="HOE:HOF:2010"><span class="citation" data-cites="HOE:HOF:2010">Christian Höner zu Siederdissen, and Ivo L. Hofacker. <strong>Discriminatory Power of Rna Family Models</strong>. 2010. <em>Bioinformatics</em>. 26, no. 18.: 453–59. doi:<a href="https://doi.org/10.1093/bioinformatics/btq370" role="doc-biblioref">10.1093/bioinformatics/btq370</a>. </span></span> <br />
</li>
</ol>
<h3 id="section-11">
2007
</h3>
<ol type="1">
<li>
<p>
<span class="citation" data-cites="HOE:2007"><span class="citation" data-cites="HOE:2007">Christian Höner zu Siederdissen. <strong>Determination of the Sum Formula for Small Molecules from High Resolution Ft-Icr Spectra</strong>. 2007. Diploma Thesis, AG Genominformatik, Technische Fakultät, Universität Bielefeld. </span></span> <br />
</p>
</li>
<li>
<p>
<span class="citation" data-cites="HOE:RAG:2007"><span class="citation" data-cites="HOE:RAG:2007">Christian Höner zu Siederdissen, Susanne Ragg, and Sven Rahmann. <strong>Discovering Biomarkers for Myocardial Infarction from Seldi-Tof Spectra</strong>. 2007. In <em>Advances in Data Analysis</em>., ed. by. Reinhold Decker and Hans -J. Lenz., 569–76. Springer Berlin Heidelberg. doi:<a href="https://doi.org/10.1007/978-3-540-70981-7_65" role="doc-biblioref">10.1007/978-3-540-70981-7_65</a>. </span></span> <br />
</p>
</li>
</ol>


